@page
@model  STW_Spark.Pages.Services.CreateModel
@{
}
<div class="container backgroundwhite row">
    <div class="col-6">
        <h2 class="text-info py-2">Create New Service</h2>
    </div>
    <div class="col-3 offset-3 py-2 text-rigt">
        <a asp-page="../Cars/Index" asp-route-UserId="@Model.serivceCarVM.car.UserId" class="btn btn-outline-info btn-sm">Back To User</a>
    </div>
</div>

<div class="container backgroundwhite">
    <div class="card">
        <div class="card-header text-white  bg-dark ml-0 row container border">
            <div class="col-1">
                <i class="fa fa-user"></i>
            </div>
            <div class="col-5">
                <label class="text-info">@Model.serivceCarVM.car.user.Name</label><br />
                <label class="text-info">@Model.serivceCarVM.car.user.Email</label>
            </div>

            <div class="col-5 text-right">
                <label class="text-info">@Model.serivceCarVM.car.VIN</label><br />
                <label class="text-info">@Model.serivceCarVM.car.Model</label>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="container">
                    <div>
                       <input hidden asp-for=">@Model.serivceCarVM.car.Make">
                       <input hidden asp-for=">@Model.serivceCarVM.car.Model">
                       <input hidden asp-for=">@Model.serivceCarVM.car.VIN">
                       <input hidden asp-for=">@Model.serivceCarVM.car.UserId">
                       <input hidden asp-for=">@Model.serivceCarVM.car.Id">
                    </div>
                </div>
                <div class="border rounded p-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="border rounded  p-2">
                                <h5 class="text-info"> Add Service</h5>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-8 ">
                                    <select asp-for="@Model.serivceCarVM.serviceDetails.ServiceTypeId"
                                            asp-items="@(new SelectList(Model.serivceCarVM.serviceTypes, "Id", "Name"));" class="form-control">
                                    </select>
                                </div>
                                <div class="col-4">
                                    <button type="submit" asp-page-handler="AddToCart" class="btn btn-success">Add Service</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="border rounded p-2">
                    <h3 class="text-info pb-2">Service Summary</h3>
                    @if (Model.serivceCarVM.serviceShopingCarts.Count == 0)
                    {
                        <p>
                            No Serviced Added Yet ...Please add service to performed.
                        </p>
                    }
                    else
                    {
                        <div class="row  mt-3">
                            <div class="col-7">
                                <table class="table table-striped border">
                                    <tr class="table-secondary">
                                        <th>
                                            @Html.DisplayNameFor(m => m.serivceCarVM.serviceTypes.FirstOrDefault().Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => m.serivceCarVM.serviceTypes.FirstOrDefault().Price)
                                        </th>
                                    </tr>
                                    @foreach (var item in Model.serivceCarVM.serviceShopingCarts)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(m => item.serviceType.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => item.serviceType.Price)
                                            </td>
                                            <td>
                                                <button type="submit" asp-page-handler="RemoveFromCart" asp-route-serviceId="@item.ServiceTypeId" class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                    <tr style="background-color:aquamarine">
                                        <td colspan="1">
                                            <h6 class="text-success">Total Price</h6>
                                        </td>
                                        <td colspan="2">
                                            <h6 class="text-success">$@Model.serivceCarVM.serviceHeader.TotalPrice</h6>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-5 px-4 pb-2">
                                <div class="row">
                                    <div class="col-3">
                                        <label asp-for="@Model.serivceCarVM.serviceHeader.Miles" class="form-control" style="border:none"></label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.serivceCarVM.serviceHeader.Miles" id="txtMiles" class="form-control" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-9 offset-3">
                                        <textarea placeholder="Comments......" asp-for="@Model.serivceCarVM.serviceHeader.details" id="txtinput" class="form-control" style="background:none"></textarea>
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <div class="col-9 offset-3">
                                        <button onclick="return validateInput()" class="btn btn-success form-control">Service Completed</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts
{ 
   <partial name="_ValidationScriptsPartial"/>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function validateInput()
        {
            var mile = $('#txtMiles').val();
            if (mile < 1)
            {
                swal("Error!","Miles cannot be empty or 0","error");
                return false;
            }
        }
    </script>
}
