@page
@model  STW_Spark.Pages.ServiceTypes.IndexModel
@{

}
<br/><br/>
     <div class="border backgroundwhite">
         <div class="row">
             <div class="col-6">
                 <h2 class="text-info">List of Service Types</h2>
             </div>
             <div class="col-6 text-right">
                 <a asp-page="Create" class="btn btn-info"><i class="fa fa-plus-square"></i> &nbsp;Create</a>

             </div>
         </div>
         <br/><br/>
         <div>
             @if (Model.ServiceTypes.Count == 0)
             {
                 <p>No Service Types Available</p>
             }
             else
             {

         <table class="table table-bordered table-striped">
             <tr>
                 <th>
                     @Html.LabelFor(m => m.ServiceTypes[0].Name)
                 </th>
                 <th>
                     @Html.LabelFor(m => m.ServiceTypes[0].Price)
                 </th>
             </tr>
             @foreach (var item in Model.ServiceTypes)
             {
         <tr>
             <td>
                 @Html.DisplayFor(m => item.Name)
             </td>
             <td>
                 @Html.DisplayFor(m => item.Price)
             </td>
             <td style="width:150px">
                 <div class="btn-group" role="group">
                     <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                     <a class="btn btn-success" asp-page="Details" asp-route-id="@item.Id"><i class="fa fa-info"></i></a>
                     <a class="btn btn-danger" asp-page="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                 </div>
             </td>
         </tr>
             }

         </table>
             }
         </div>
     </div>